/*.home h1{*/
	/*color: red;*/
/*}*/
@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color:#353D44;
	font-size: 62.5%;
}
a{
	text-decoration: none;
}
ul,li{
	list-style: none;
}
.content{
	display: flex;
	flex-direction: column;
	background:#F2F2F2;
}
.swiper-container{
	width: 100%;
	height: 15rem;
}
.swiper-slide img{
	width: 100%;
	height: 100%;
}
.swiper-pagination{

}

@font-face {
	font-family: 'iconfont';  /* project id 210031 */
	src: url('//at.alicdn.com/t/font_s88uszojkur3sor.eot');
	src: url('//at.alicdn.com/t/font_s88uszojkur3sor.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_s88uszojkur3sor.woff') format('woff'),
	url('//at.alicdn.com/t/font_s88uszojkur3sor.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_s88uszojkur3sor.svg#iconfont') format('svg');
}
/*轮播图*/
/*#haha{*/
	/*width: 100%;*/
	/*height: 20px;*/
	/*background-color: red;*/
/*}*/

/*!*html, body {*/
    /*position: relative;*/
    /*height: 100%;*/
/*}*/
/*body {*/
    /*background: #eee;*/
    /*font-family: Helvetica Neue, Helvetica, Arial, sans-serif;*/
    /*font-size: 14px;*/
    /*color:#000;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*!*/
/*.swiper-container {*/
	/*width: 100%;*/
	/*height: 100%;*/
/*}*/
/*.swiper-slide {*/
	/*text-align: center;*/
	/*font-size: 18px;*/
	/*background: #fff;*/
	/*width: 60%;*/

	/*!* Center slide text vertically *!*/
	/*display: -webkit-box;*/
	/*display: -ms-flexbox;*/
	/*display: -webkit-flex;*/
	/*display: flex;*/
	/*-webkit-box-pack: center;*/
	/*-ms-flex-pack: center;*/
	/*-webkit-justify-content: center;*/
	/*justify-content: center;*/
	/*-webkit-box-align: center;*/
	/*-ms-flex-align: center;*/
	/*-webkit-align-items: center;*/
	/*align-items: center;*/
/*}*/







.header1{
	height:5rem;
	width: 100%;
	background: #FFD600;
	display: flex;
	position: fixed;
	top: 0px;
	padding: .5rem;
	border: 1px solid #F2F2F2;
	z-index: 2;
}
.header1 div{
	flex:1;
	/*text-align: center;*/
}
.header1 .sweep{
}
.header1 .sweep span{
	font-family: iconfont;
	font-size: 2.6rem;
	margin-left: .1rem;
	color: #2a2a2a;
}
.header1 .sweep p{
	font-size: 1rem;
	/*margin-bottom: 1rem;*/
	color: #222222;
}
.header1 .location span{
	color: #000000;
	font-size: 1.6rem;
	line-height: 5rem;
	font-weight: 600;
}
.header1 .location::after{
	content: '';
	position: absolute;
	top: 2.2rem;
	/*left: 1rem;*/
	border: 6px solid transparent;
	border-top: 6px solid #000000;
}
.header1 .search{
	text-align: right;
	line-height: 5rem;
	font-size: 1rem;
	color: #222222;
	background: url("../img/v6psrra1vycqaqnz1uzojql9hudgpkc1.png") no-repeat top right;
	background-size: 2rem;
	padding-top: .5rem;
}

/*主题*/
.main1{
	background: #EFEFEF;
	padding: 4.5rem 0 6rem 0;
}
.main1 .swiper-container .swiper-wrapper img{
	width: 100%;
}
.main1 .shopping{
	display: flex;
	/*align-items: center;*/
	width: 100%;
	background: white;
	padding: 1rem 0;
	margin-top: 1rem;
	flex-wrap: wrap;
}
.main1 .shopping li{
	width: 25%;
}
.main1 .shopping li img{
	width:100%;
}
.main1 .shopping li p{
	text-align: center;
	font-size: 1.4rem;
}
.main1 .milk{
	display: flex;
	align-items: center;
	width: 100%;
	margin-top: 1rem;

}
.main1 .milk li{
	width: 33.2%;
}
.main1 .milk li:nth-of-type(2){
	margin: 0 0.15rem;
}
.main1 .milk li img{
	width: 100%;
}
.main1 .cvs div{
	width: 100%;
}
.main1 .cvs{
	margin-top: 1rem;
	background: white;
}
.main1 .cvs div img{
	width: 100%;
}
.main1 .cvs .first{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 96%;
}
.main1 .cvs .first li{
	margin: .5rem;
	width: 100%;
}
.main1 .cvs .first img{
	/*margin-left: .8rem;*/
	width: 100%
}
.main1 .cvs .second{
	display: flex;
	align-items: center;
	width: 100%;
	padding: .5rem 0 1rem 0;
}
.main1 .cvs .second li{
	width: 25%;
}
.main1 .cvs .second img{
	width: 100%;
}
.main1 .cvs .second p{
	text-align: center;
	font-size: 1.4rem;
}
.main1 .cvs .third{
	width: 100%;
	font-size: 0px;
}
.main1 .cvs .third li{
	width:50%;
	display: inline-block;
	border: 1px solid #F2F2F2;
}
.main1 .cvs .third li img{
	width: 100%;
}
.main1 .count{
	background: white;
	margin-top: 1rem;
}
.main1 .count .title{
	height: 4rem;
	line-height: 3.5rem;
	position: relative;
	padding: 0 1rem;
}
.main1 .count .title .left{
	float: left;
	color: #F38631;
	font-weight: bolder;
	font-size: 1.6rem;
	text-indent: 1.5rem;
}
.main1 .count .title .left::before{
	content: "";
	display: table;
	font-size: 2rem;
	background: #F38631;
	width: .8rem;
	height: 1.6rem;
	position: absolute;
	top: .9rem;
}
.main1 .count .title .right{
	float: right;
	font-size: 1.4rem;
	color: #999999;
}
.main1 .count .pic{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.main1 .count .pic img{
	width: 94%;
}
.main1 .count .fruit{
	width: 100%;
	display: flex;
	align-items: center;
}
.main1 .count .fruit li{
	width: 33.3%;
	padding: .5rem;
}
.main1 .count .fruit li .top{
	width: 100%;
}
.main1 .count .fruit li .top img{
	width: 100%;
}
.main1 .count .fruit li .bottom p{
	line-height:2rem;
	font-size: 1.4rem;
}
.main1 .count .fruit li .bottom p:nth-child(1){
	color: #232B33;
}
.main1 .count .fruit li .bottom p:nth-child(2){
	display: inline-block;
	padding: .1rem .4rem;
	color: #FF0000;
	font-size: 1.2rem;
	border: 1px solid #FF0000;
	border-radius: .5rem;
	line-height: 1rem;
}
.main1 .count .fruit li .bottom p:nth-child(3){
	color: #9E9E9E;
}
.main1 .count .fruit li .bottom p:nth-child(4){
	color: #FF5728;
	position: relative;
}
.main1 .count .fruit li .bottom p:nth-child(4) .price{
	color: #9E9E9E;
	text-decoration: line-through;
}
.main1 .count .fruit li .bottom p:nth-child(4) .add{
	position: absolute;
	width: 3rem;
	height: 3rem;
	line-height: 3rem;
	text-align: center;
	right: .3rem;
	top: -0.2rem;
	border: 1px solid #E2E2E3;
	border-radius: 50%;
	font-size: 2.5rem;
	font-weight:bolder;
	color: #FF4300;
	background: white;
}
.main1 .count1 .title .left{
	float: left;
	color: #14d6f3;
	font-weight: bolder;
	font-size: 1.6rem;
	text-indent: 1.5rem;
}
.main1 .count1 .title .left::before{
	content: "";
	display: table;
	font-size: 2rem;
	background: #14d6f3;
	width: .8rem;
	height: 1.6rem;
	position: absolute;
	top: .9rem;
}


