@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:#353D44;
    font-size: 62.5%;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.content{
    display: flex;
    flex-direction: column;
    background:#F2F2F2;
}

@font-face {
    font-family: 'iconfont';  /* project id 210031 */
    src: url('//at.alicdn.com/t/font_s88uszojkur3sor.eot');
    src: url('//at.alicdn.com/t/font_s88uszojkur3sor.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_s88uszojkur3sor.woff') format('woff'),
    url('//at.alicdn.com/t/font_s88uszojkur3sor.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_s88uszojkur3sor.svg#iconfont') format('svg');
}
.headerq{
    height:5rem;
    width: 100%;
    background: #FFD600;
    display: flex;
    position: fixed;
    top: 0px;
    padding: .5rem;
    border: 1px solid #F2F2F2;
    z-index: 2;
}
.headerq div{
    flex:1;
    /*text-align: center;*/
}

.headerq .sweep span{
    font-family: iconfont;
    font-size: 3rem;
    margin-left: .1rem;
    color: #2a2a2a;
}
.headerq .sweep p{
    font-size: 1rem;
    color: #222222;
}
.headerq .location span{
    color: #000000;
    font-size: 1.6rem;
    line-height: 5rem;
    font-weight: 600;
}
.headerq .location::after{
    content: '';
    position: absolute;
    top: 2.2rem;
    /*left: 1rem;*/
    border: 6px solid transparent;
    border-top: 6px solid #000000;
}
.headerq .search{
    text-align: right;
    line-height: 5rem;
    font-size: 1rem;
    color: #222222;
    background: url("../img/v6psrra1vycqaqnz1uzojql9hudgpkc1.png") no-repeat top right;
    background-size: 2rem;
    padding-top: .5rem;
}
/*主题*/
.main2{
    width: 100%;
    height: 100%;
    background: white;
    padding: 4.5rem 0 6rem 0;
    position: relative;
    display: flex;
}
.main2 .left_div{
    width: 25%;
    position: absolute;
    overflow-y: scroll;
    height: 50rem;
    top: 0px;
    left: 0px;
}
.main2 .right_div{
    width: 75%;
    height: 50rem;
    position: absolute;
    overflow-y: scroll;
    top: 0px;
    right: 0px;
}
.main2 .left{
    display: inline-block;
    top:4.5rem;
    width: 100%;
    background: #F8F8F8;
}
.main2 .left li{
    height:4.5rem;
    line-height: 4.5rem;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
}
.main2 .left li:nth-child(1){
    margin-top: 4.5rem;
}
.main2 .left li:nth-child(2){
    background: url("../img/p9.jpg") no-repeat right center;
    background-size: 4.5rem;
}
.main2 .right{
    margin-left: .4rem;
    width: 100%;
    display: inline-block;
}
.main2 .right li:nth-child(1){
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    font-size: 2.5rem;
    position: fixed;
    top: 5rem;
    background: white;
    z-index: 2;
}
.main2 .right li:nth-child(1) span{
    padding: 1rem 2rem;
}
.main2 .right li:nth-child(2){
    margin-top: 9rem;
}
.main2 .right li:last-child{
    margin-bottom: 5rem;
}
main .right li{
    /*padding: .5rem;*/
    height:9rem;
    border-bottom: 1px solid #E0E0E0;
}
.main2 .right li .pic{
    width: 30%;
    float: left;
    /*display: inline-block;*/
}
main .right li .pic img{
    width: 100%;
}
.main2 .right li .pic_right{
    display: inline-block;
    width:70%;
}
.main2 .right li .pic_right p{
    line-height:2rem;
    width: 100%;
    font-size: 1.4rem;
}
.main2 .right li .pic_right p:nth-child(1){
    color: #232B33;
    width: 100%;
}
.main2 .right li .pic_right p:nth-child(2){
    display: block;
    width: 3.5rem;
    padding: .1rem .4rem;
    color: #FF0000;
    font-size: 1.2rem;
    border: 1px solid #FF0000;
    border-radius: .5rem;
    line-height: 1rem;
}
.main2 .right li .pic_right p:nth-child(3){
    color: #9E9E9E;
}
.main2 .right li .pic_right p:nth-child(4){
    color: #FF5728;
    position: relative;
    width: 100%;

}
.main2 .right li .pic_right p:nth-child(4) .price{
    color: #9E9E9E;
    text-decoration: line-through;
}
.main2 .right li .pic_right p:nth-child(4) .num{
    position: absolute;
    right: 4.3rem;
    top: -1.5rem;
}
.main2 .right li .pic_right p:nth-child(4) .reduce{
    position: absolute;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    right: 5.5rem;
    top: -2rem;
    border: 1px solid #E2E2E3;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight:bolder;
    color: #FF4300;
    background: white;
    display: none;
}
.main2 .right li .pic_right p:nth-child(4) .add{
    position: absolute;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    right: .3rem;
    top: -2rem;
    border: 1px solid #E2E2E3;
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight:bolder;
    color: #FF4300;
    background: white;
}
.main2 .right li .pic_right p:nth-child(4) .add a{
    /*position: absolute;*/
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    right: .3rem;
    top: -2rem;
    /*border: 1px solid #E2E2E3;*/
    border-radius: 50%;
    font-size: 2.5rem;
    font-weight:bolder;
    color: #FF4300;
    background: white;
}

footer{
    height:5rem;
    width: 100%;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
    /*padding-top: 5px;*/
    border: 1px solid #F2F2F2;
}
footer a{
    /*display: flex;*/
    /*align-items: center;*/
    /*align-content: center;*/

    /*justify-content: center;*/
}
footer .footer1{
    flex:1;
    width: 25%;
    text-align: center;
}
footer .footer1 div{
    margin:0 auto;
    width: 30%;
    /*border: 1px solid;*/
    text-align: center;
}
footer .footer1 div img{
    width: 100%;
}
footer .footer1 p {
    color: #777777;
    margin-top: .2rem;
    font-size: 1.2rem;

}