.header7{
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    align-content: center;
    height:5rem;
    background: #F9FAFD;
    margin-top: 0.1px;
    padding-top: .5rem;

}
.header7 div{
    flex: 1;
    width: 100%;
    font-size: 2rem;
    color: #000000;
    /*text-align: center;*/
}
.header7 div:nth-child(1){
    text-align: left;
}
.header7 div:nth-child(1) img{
    height: 3rem;
    line-height: 5rem;
    margin-top: .5rem;
}
.header7 div:nth-child(2){
    text-align: center;
    line-height: 5rem;
    height: 5rem;
}
.header7 div:nth-child(3){
    text-align: right;
}
.header7 div:nth-child(3) img{
    height: 3rem;
    margin: 0.5rem 1rem 0 0;
}
.main7{
    background: #EFEFEF;
    width: 100%;
    height: 100%;
    margin: 5rem 0 5rem;
}
.main7 .order{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.main7 .order li{
    flex: 1;
    height: 4rem;
    line-height: 4rem;
    background: white;
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.main7 .topay{
    width: 100%;
    background: white;
}
.main7 .topay li{
    width: 95%;
    margin: 0 auto;
    height:19rem;
    /*border: 1px solid;*/
}
.main7 .topay li p:nth-child(1){

    height: 4rem;
    line-height: 4rem;
    border-bottom: 2px solid #EFEFEF;
    margin: 0 1rem;
}
.main7 .topay li p:nth-child(1) span{
    font-size: 1.6rem;
    color: #7B7B7B;
}
.main7 .topay li p:nth-child(1) span:nth-child(2){
    float: right;
    color: #FF8800;
}
.main7 .topay li p:nth-child(2){
    height: 6rem;
    line-height: 6rem;
    margin: 0 2rem 0 .5rem;
    border-bottom: 2px solid #EFEFEF;

}
.main7 .topay li p:nth-child(2) img{
    height: 100%;
}
.main7 .topay li p:nth-child(2) span{
    float: right;
}
.main7 .topay li p:nth-child(3){
    height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    border-bottom: 2px solid #EFEFEF;
    padding-left: 1rem;

}
.main7 .topay li p:nth-child(3) span{
    color: #7B7B7B;
    font-size: 1.4rem;
}
.main7 .topay li p:nth-child(4){
    float: right;
    text-align: right;
    line-height: 2.5rem;
    font-size: 1.6rem;
    color: #333333;
    background: #FFD600;
    border-radius: 5px;
    margin-top: 1rem;
    margin-right: 1rem;
    padding: 0 1rem;
}

.addList{
    color: #FF4300;
}
