
<body>
<section>
    <header>
        <div><a href="#/home"><img src="./img/s1.png" alt=""></a></div>
        <div>疯狂秒杀</div>
        <div><img src="./img/s2.png" alt=""></div>
    </header>
    <main>
        <div class="pic"><img src="./img/33.jpg" alt=""></div>
        <ul class="time">
            <li>
                <p>10:00</p>
                <p>即将开始</p>
                <p></p>
            </li>
            <li>
                <p>08:00</p>
                <p>已结束</p>
                <p></p>
            </li>
            <li>
                <p>06:00</p>
                <p>已结束</p>
                <p></p>
            </li>
            <li>
                <p>04:00</p>
                <p>已结束</p>
                <p></p>
            </li>
        </ul>
        <div class="timecont">
            <div class="left">
                <p>据本场开始</p>
                <p class="numList"></p>
            </div>
            <div class="right">
                <p>查看活动规则</p>
            </div>
        </div>
        <ul class="list">
            <li>
                <div class="pic"><img src="./img/v.png" alt=""></div>
                <div class="words">
                    <p>伊利壹消雪域青稞+白桃</p>
                    <p>160g</p>
                    <p>￥<span>1.9</span><span>/原价4.5元</span></p>
                    <p><span>1.9元抢购</span></p>
                </div>
            </li>
            <li>
                <div class="pic"><img src="./img/v2.png" alt=""></div>
                <div class="words">
                    <p>伊利壹消雪域青稞+白桃</p>
                    <p>160g</p>
                    <p>￥<span>1.9</span><span>/原价4.5元</span></p>
                    <p><span>1.9元抢购</span></p>
                </div>
            </li>
            <li>
                <div class="pic"><img src="./img/v.png" alt=""></div>
                <div class="words">
                    <p>伊利壹消雪域青稞+白桃</p>
                    <p>160g</p>
                    <p>￥<span>1.9</span><span>/原价4.5元</span></p>
                    <p><span>1.9元抢购</span></p>
                </div>
            </li>
        </ul>
    </main>
</section>
</body>
