
<body>
<section>
    <header class="header6">
        <span ng-click="integralCtrl.goBack();"><img src="../img/s1.png" alt=""></span>
        <span>积分商城</span>
    </header>
    <main class="main6">
        <div class="integralbg">
            <canvas width="140" height="140">
                您的浏览器不支持canvas画布
            </canvas>
            <div class="integral">
                <p>可用积分<br>
                    <span>0</span>
                </p>
            </div>

        </div>
        <!--<div class="block">-->
            <!--<div class="circle">-->
                <!--<div class="wrapper">-->
                    <!--<div class="box">-->
                        <!--<div class="items">-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <ul class="threeLine">
                <li>
                    <div><img src="./img/x1.png" alt=""></div>
                    <p>积分明细</p>
                </li>
                <li>
                    <div><img src="./img/x2.png" alt=""></div>
                    <p>兑换记录</p>
                </li>
                <li>
                    <div><img src="./img/x3.png" alt=""></div>
                    <p>积分规则</p>
                </li>
            </ul>
        <!--</div>-->
        <ul class="list">
            <li>
                <div><img src="./img/z1.jpg" alt=""></div>
                <p>3元优惠券</p>
                <p>300积分</p>
            </li>
            <li>
                <div><img src="./img/z2.jpg" alt=""></div>
                <p>5元优惠券</p>
                <p>500积分</p>
            </li>
            <li>
                <div><img src="./img/z3.jpg" alt=""></div>
                <p>8元优惠券</p>
                <p>800积分</p>
            </li>
            <li>
                <div><img src="./img/z4.jpg" alt=""></div>
                <p>10元优惠券</p>
                <p>1000积分</p>
            </li>
        </ul>

    </main>
</section>
</body>
