<!--<div class="mine">-->
	<!--<h1>我的</h1>-->
<!--</div>-->

<body>
<section>
	<header class="header5">
		<div class="top">
			<div class="myown">
				<img src="../img/diym7gf1zqiv5wi7x1qhsvh3s2i8fnsr.png" alt="">
			</div>
			<div class="tel">
				<span>157****1320</span>
				<img src="../img/5cjo3oravhcvmd2kscymn3xchuoacyr8.png" alt="">
			</div>
			<div class="next">
				<img src="../img/p1.png">
			</div>
		</div>
		<ul>
			<li><a>商品收藏</a></li>
			<li><a>店铺收藏</a></li>
		</ul>
	</header>
	<main class="main5">
		<div class="myorder">
			<span>我的订单</span>
			<span> <a href="#/order">查看全部订单 ></a></span>
		</div>
		<ul class="pay">
			<li>
				<a href="#/order">
					<div><img src="./img/q1.png" alt=""></div>
					<p>待付款</p>
				</a>
			</li>
			<li>
				<a href="#/order">
					<div><img src="./img/q2.png" alt=""></div>
					<p>待收货</p>
				</a>
			</li>
			<li>
				<a href="#/order">
					<div><img src="./img/q3.png" alt=""></div>
					<p>待评价</p>
				</a>
			</li>
			<li>
				<a href="#">
					<div><img src="./img/q4.png" alt=""></div>
					<p>退款/反馈</p>
				</a>
			</li>
		</ul>
		<ul class="shop">
			<li>
				<a href="#/integral">
					<div><img src="./img/q5.png" alt=""></div>
					<p>积分商城</p>
				</a>
			</li>
			<li>
				<div><img src="./img/q6.png" alt=""></div>
				<p>优惠券</p>
			</li>
			<li>
				<div><img src="./img/q7.png" alt=""></div>
				<p>收货地址</p>
			</li>
			<li>
				<div><img src="./img/q8.png" alt=""></div>
				<p>客服/反馈</p>
			</li>

		</ul>
		<ul class="weare">
			<li>
				<div><img src="./img/q0.png" alt=""></div>
				<p>关于我们</p>
			</li>
		</ul>
		<ul class="logout">
			<li>退出当前账号</li>
		</ul>

	</main>
</section>
</body>
