
<body>
<section>
    <header class="header7">
        <div><a href="#/mine"><img src="./img/s1.png" alt=""></a></div>
        <div>我的订单</div>
        <div><img src="./img/s2.png" alt=""></div>
    </header>
    <main class="main7">
        <ul class="order">
            <li>全部订单</li>
            <li>待付款</li>
            <li>待收货</li>
            <li>待评价</li>
            <li>退款/售后</li>
        </ul>
        <ul class="topay">
            <li>
                <p><span>2016-12-29 14:32:03</span><span>待支付</span></p>
                <p><img src="http://img01.bqstatic.com/upload/goods/201/609/1816/20160918161017_711297.jpg@355w_355h_90Q" alt=""><span>></span></p>
                <p>共<span>2</span>件商品 <span class="addList">￥31.6</span></p>
                <p><a href="#/pay">去支付</a></p>
            </li>
        </ul>
    </main>
</section>
</body>
